.vscode
__pycache__
test.png
*.csv
# *.pth
*.gif
.DS_Store
benchmarking_runs
testing_runs
training_runs
benchmark_results/
.env
Haresh_Experiment
.neptune
*.npy
.png
*.zip
experiments/results/
experiments/results*/
experiments/old_results/
notebooks/experiments
experiments 2/
experiments_2/
run.log
slurm*
*put*.txt


